In [2]:
import pandas as pd
import numpy as np

my_df = pd.DataFrame(np.random.randn(4,5),[1,2,3,4],['a','b','c','e','f'])
print(my_df)

          a         b         c         e         f
1  0.612408  1.096702  0.482879 -1.365643 -0.263343
2 -1.145965 -1.897666 -0.580479  1.826361 -1.810591
3  0.420116  1.815884 -0.417393  0.121828  0.515208
4  0.492688  0.601461  0.594611 -0.408480 -0.248414

In [3]:
print(my_df['a'])

1    0.612408
2   -1.145965
3    0.420116
4    0.492688
Name: a, dtype: float64

In [5]:
print(my_df[['a','b']])

          a         b
1  0.612408  1.096702
2 -1.145965 -1.897666
3  0.420116  1.815884
4  0.492688  0.601461

In [6]:
my_df['h']=my_df['a']+my_df['b']

print(my_df)

          a         b         c         e         f         h
1  0.612408  1.096702  0.482879 -1.365643 -0.263343  1.709110
2 -1.145965 -1.897666 -0.580479  1.826361 -1.810591 -3.043632
3  0.420116  1.815884 -0.417393  0.121828  0.515208  2.236000
4  0.492688  0.601461  0.594611 -0.408480 -0.248414  1.094149

In [7]:
my_df.loc[2]

a   -1.145965
b   -1.897666
c   -0.580479
e    1.826361
f   -1.810591
h   -3.043632
Name: 2, dtype: float64

In [8]:
print(my_df.loc[3,'b'])

1.8158840947039043

In [9]:
my_df.drop(3)

          a         b         c         e         f         h
1  0.612408  1.096702  0.482879 -1.365643 -0.263343  1.709110
2 -1.145965 -1.897666 -0.580479  1.826361 -1.810591 -3.043632
4  0.492688  0.601461  0.594611 -0.408480 -0.248414  1.094149

In [10]:
my_df.drop('b',axis=1)

          a         c         e         f         h
1  0.612408  0.482879 -1.365643 -0.263343  1.709110
2 -1.145965 -0.580479  1.826361 -1.810591 -3.043632
3  0.420116 -0.417393  0.121828  0.515208  2.236000
4  0.492688  0.594611 -0.408480 -0.248414  1.094149

In [11]:
my_df.shape

(4, 6)

In [14]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
ages = np.random.randint(1, 101, 35).reshape(7, 5)
countries = ['France', 'Spain', 'Italy', 'Germany', 'Great Britain']

df = pd.DataFrame(ages, letters,
                     countries)

print(df)

   France  Spain  Italy  Germany  Great Britain
a      20     54     67       27             28
b      70     82     98       81              4
c      27      7     49       11             70
d      11     86     38       38             31
e      22     49      5       63             61
f      89     63     36       94             86
g      36     76     95       79             84