In [2]:
import pandas as pd
import numpy as np

my_df = pd.DataFrame(np.random.randn(4,5),[1,2,3,4],['a','b','c','e','f'])
print(my_df)

ModuleNotFoundError: No module named 'numpy'

In [1]:
print(my_df['a'])

NameError: name 'my_df' is not defined

In [5]:
print(my_df[['a','b']])

          a         b
1  0.612408  1.096702
2 -1.145965 -1.897666
3  0.420116  1.815884
4  0.492688  0.601461

In [6]:
my_df['h']=my_df['a']+my_df['b']

print(my_df)

          a         b         c         e         f         h
1  0.612408  1.096702  0.482879 -1.365643 -0.263343  1.709110
2 -1.145965 -1.897666 -0.580479  1.826361 -1.810591 -3.043632
3  0.420116  1.815884 -0.417393  0.121828  0.515208  2.236000
4  0.492688  0.601461  0.594611 -0.408480 -0.248414  1.094149

In [7]:
my_df.loc[2]

a   -1.145965
b   -1.897666
c   -0.580479
e    1.826361
f   -1.810591
h   -3.043632
Name: 2, dtype: float64

In [8]:
print(my_df.loc[3,'b'])

1.8158840947039043

In [9]:
my_df.drop(3)

          a         b         c         e         f         h
1  0.612408  1.096702  0.482879 -1.365643 -0.263343  1.709110
2 -1.145965 -1.897666 -0.580479  1.826361 -1.810591 -3.043632
4  0.492688  0.601461  0.594611 -0.408480 -0.248414  1.094149

In [10]:
my_df.drop('b',axis=1)

          a         c         e         f         h
1  0.612408  0.482879 -1.365643 -0.263343  1.709110
2 -1.145965 -0.580479  1.826361 -1.810591 -3.043632
3  0.420116 -0.417393  0.121828  0.515208  2.236000
4  0.492688  0.594611 -0.408480 -0.248414  1.094149

In [11]:
my_df.shape

(4, 6)

In [14]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
ages = np.random.randint(1, 101, 35).reshape(7, 5)
countries = ['France', 'Spain', 'Italy', 'Germany', 'Great Britain']

df = pd.DataFrame(ages, letters,
                     countries)

print(df)

   France  Spain  Italy  Germany  Great Britain
a      20     54     67       27             28
b      70     82     98       81              4
c      27      7     49       11             70
d      11     86     38       38             31
e      22     49      5       63             61
f      89     63     36       94             86
g      36     76     95       79             84

In [15]:
from numpy.random import randn
df = pd.DataFrame(randn(4,3), ['a','b','c','d'],['X','Y','Z'])

print(df)

          X         Y         Z
a  0.305257 -0.677446  1.278619
b -0.071529 -0.327880  0.216916
c -0.140634 -0.606804  1.139389
d -2.204137 -0.587434 -1.567410

In [18]:
print([(df['X']>0) | (df['Z']<0)])

[a     True
b    False
c    False
d     True
dtype: bool]

In [3]:
dict={'one':[10,np.nan,30],'two':[np.nan,np.nan,50],
      'three':[10,10,10]}
df = pd.DataFrame(dict)
print(df)

    one   two  three
0  10.0   NaN     10
1   NaN   NaN     10
2  30.0  50.0     10

In [7]:
print(df.dropna())
#если добавить axis=1,nj удаляет столбцы

print(df.dropna(axis=1))
print(df.dropna(thresh=2))
#удаляет строки,где есть 2 NaN значения
print(df.fillna(value='something'))
#заполняет другими значениями

    one   two  three
2  30.0  50.0     10
   three
0     10
1     10
2     10
    one   two  three
0  10.0   NaN     10
2  30.0  50.0     10
         one        two  three
0       10.0  something     10
1  something  something     10
2       30.0       50.0     10

In [9]:
dict = {'Company':['COMP1', 'COMP1', 'COMP2', 'COMP2', 'COMP3', 'COMP3'],
        'Months':['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN'],
        'Salary': [2000, 1500, 3000, 5000, 2500, 3500]}

In [17]:
df=pd.DataFrame(dict)
print(df)
#группирует и находит среднее значение
print(df.groupby('Company').mean())

print(df.groupby('Company').max())
print(df.groupby('Company').min())
#описать метод describe
print(df.groupby('Company').describe())
#Выводим компании столбцами
print(df.groupby('Company').describe().transpose())
#информация для какойто компании
print(df.groupby('Company').describe().transpose()['COMP2'])

  Company Months  Salary
0   COMP1    JAN    2000
1   COMP1    FEB    1500
2   COMP2    MAR    3000
3   COMP2    APR    5000
4   COMP3    MAY    2500
5   COMP3    JUN    3500
         Salary
Company
COMP1    1750.0
COMP2    4000.0
COMP3    3000.0
        Months  Salary
Company
COMP1      JAN    2000
COMP2      MAR    5000
COMP3      MAY    3500
        Months  Salary
Company
COMP1      FEB    1500
COMP2      APR    3000
COMP3      JUN    2500
        Salary
         count    mean          std     min     25%     50%     75%     max
Company
COMP1      2.0  1750.0   353.553391  1500.0  1625.0  1750.0  1875.0  2000.0
COMP2      2.0  4000.0  1414.213562  3000.0  3500.0  4000.0  4500.0  5000.0
COMP3      2.0  3000.0   707.106781  2500.0  2750.0  3000.0  3250.0  3500.0
Company             COMP1        COMP2        COMP3
Salary count     2.000000     2.000000     2.000000
       mean   1750.000000  4000.000000  3000.000000
       std     353.553391  1414.213562   707.106781
       min    1500.000000  3000.000000  2500.000000
       25%    1625.000000  3500.000000  2750.000000
       50%    1750.000000  4000.000000  3000.000000
       75%    1875.000000  4500.000000  3250.000000
       max    2000.000000  5000.000000  3500.000000
Salary  count       2.000000
        mean     4000.000000
        std      1414.213562
        min      3000.000000
        25%      3500.000000
        50%      4000.000000
        75%      4500.000000
        max      5000.000000
Name: COMP2, dtype: float64