In [4]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'A':['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']},
                       index=[0, 1, 2, 3])

In [2]:
df2 = pd.DataFrame({'A':['A4', 'A5', 'A6', 'A7'],
                       'B': ['B4', 'B5', 'B6', 'B7'],
                       'C': ['C4', 'C5', 'C6', 'C7'],
                       'D': ['D4', 'D5', 'D6', 'D7']},
                        index=[4, 5, 6, 7])

In [3]:
df3 = pd.DataFrame({'A':['A8', 'A9', 'A10', 'A11'],
                       'B': ['B8', 'B9', 'B10', 'B11'],
                       'C': ['C8', 'C9', 'C10', 'C11'],
                       'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [5]:
print(df1)
print(df2)
print(df3)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [6]:
print(pd.concat([df1,df2,df3]))

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [8]:
df4 = pd.DataFrame({'order_id': [114, 235, 432],
                         'user_id': [1, 2, 3],
                         'user_name': ['James Brown', 'Jack White',
                                       'Jane Green'],
                         'country': ['USA', 'USA',
                                        'France']})
df5 = pd.DataFrame({'order_id': [114, 235, 432],
                       'user_id': [1, 2, 3],
                     'order_date': ['2020-02-11', '2020-02-11',
                                       '2020-02-15'],
                          'OS': ['Android', 'iOS', 'Android']})
print(pd.merge(df4,df5,on ='order_id'))

   order_id  user_id_x    user_name country  user_id_y  order_date       OS
0       114          1  James Brown     USA          1  2020-02-11  Android
1       235          2   Jack White     USA          2  2020-02-11      iOS
2       432          3   Jane Green  France          3  2020-02-15  Android

In [11]:
df6 = pd.DataFrame({
                         'user_name': ['James Brown', 'Jack White',
                                       'Jane Green'],
                         'country': ['USA', 'USA',
                                        'France']},
                        index=['ind1', 'ind2', 'ind3'])
df7 = pd.DataFrame({'order_id': [114, 235, 432],
                       'user_id': [1, 2, 3],
                     'order_date': ['2020-02-11', '2020-02-11',
                                       '2020-02-15'],
                          'OS': ['Android', 'iOS', 'Android']},
                    index=['ind1', 'ind4', 'ind3'])

print(df6.join(df7))

        user_name country  order_id  user_id  order_date       OS
ind1  James Brown     USA     114.0      1.0  2020-02-11  Android
ind2   Jack White     USA       NaN      NaN         NaN      NaN
ind3   Jane Green  France     432.0      3.0  2020-02-15  Android

In [15]:
df = pd.DataFrame({'A':[1, 2, 3, 4],
                     'B':[123, 245, 321, 123],
                       'C':['aaa', 'bbb', 'ccc', 'ddd']})

print(df)
print(df['B'].unique())
#nunique длина
print(df['B'].nunique())
#value_counts колько раз значение встречается в столбце
print(df['B'].value_counts())

   A    B    C
0  1  123  aaa
1  2  245  bbb
2  3  321  ccc
3  4  123  ddd
[123 245 321]
3
123    2
245    1
321    1
Name: B, dtype: int64

In [18]:
print(df[df['A'] < 3])
#Применение функции
def times3(x):
    return x*3
print(df['A'].apply(times3))
print(df['A'].apply(lambda x: x*3))

   A    B    C
0  1  123  aaa
1  2  245  bbb
0     3
1     6
2     9
3    12
Name: A, dtype: int64
0     3
1     6
2     9
3    12
Name: A, dtype: int64

In [20]:
print(df.columns)
print(df.index)

Index(['A', 'B', 'C'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

In [21]:
print(df.sort_values('B'))

   A    B    C
0  1  123  aaa
3  4  123  ddd
1  2  245  bbb
2  3  321  ccc