In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
df=pd.read_csv('bitcoin.csv')

In [3]:
df.head()

,Unnamed: 0,time,high,low,open,volumefrom,volumeto,close
0,0,2015-12-20,462.76,431.10,461.20,121531.64,54316484.95,441.78
1,1,2015-12-21,445.54,423.99,441.78,121990.88,53270215.60,437.59
2,2,2015-12-22,443.22,433.25,437.59,65785.54,28845536.39,437.03
3,3,2015-12-23,444.78,434.28,437.03,63247.04,27877349.10,442.43
4,4,2015-12-24,460.62,441.76,442.43,79604.01,36096662.15,452.98

удаляем колонку unnamed

In [4]:
df = df.iloc[:, 1:]

In [5]:
df

,time,high,low,open,volumefrom,volumeto,close
0,2015-12-20,462.76,431.10,461.20,121531.64,5.431648e+07,441.78
1,2015-12-21,445.54,423.99,441.78,121990.88,5.327022e+07,437.59
2,2015-12-22,443.22,433.25,437.59,65785.54,2.884554e+07,437.03
3,2015-12-23,444.78,434.28,437.03,63247.04,2.787735e+07,442.43
4,2015-12-24,460.62,441.76,442.43,79604.01,3.609666e+07,452.98
...,...,...,...,...,...,...,...
1996,2021-06-07,36790.39,33367.12,35798.57,52209.55,1.850311e+09,33582.86
1997,2021-06-08,34061.09,31034.35,33582.86,88483.79,2.890313e+09,33409.38
1998,2021-06-09,37528.42,32435.18,33409.38,92280.57,3.249554e+09,37391.58
1999,2021-06-10,38387.20,35821.05,37391.58,63052.49,2.338112e+09,36680.78
2000,2021-06-11,37665.85,35981.84,36680.78,33418.02,1.235391e+09,36843.33

предсказание криптовалюты в течении 14 дней

In [6]:
#создадим колонку предикт(предсказание)
projection = 14
df['predict'] = df['close'].shift(-projection)
df

,time,high,low,open,volumefrom,volumeto,close,predict
0,2015-12-20,462.76,431.10,461.20,121531.64,5.431648e+07,441.78,430.70
1,2015-12-21,445.54,423.99,441.78,121990.88,5.327022e+07,437.59,433.32
2,2015-12-22,443.22,433.25,437.59,65785.54,2.884554e+07,437.03,431.20
3,2015-12-23,444.78,434.28,437.03,63247.04,2.787735e+07,442.43,430.82
4,2015-12-24,460.62,441.76,442.43,79604.01,3.609666e+07,452.98,457.05
...,...,...,...,...,...,...,...,...
1996,2021-06-07,36790.39,33367.12,35798.57,52209.55,1.850311e+09,33582.86,NaN
1997,2021-06-08,34061.09,31034.35,33582.86,88483.79,2.890313e+09,33409.38,NaN
1998,2021-06-09,37528.42,32435.18,33409.38,92280.57,3.249554e+09,37391.58,NaN
1999,2021-06-10,38387.20,35821.05,37391.58,63052.49,2.338112e+09,36680.78,NaN
2000,2021-06-11,37665.85,35981.84,36680.78,33418.02,1.235391e+09,36843.33,NaN

In [7]:
#х -данные закрытия 14 дней назад,у-данныеспустя 14 дней
X = df[['close']]
y = df['predict']

делим на тренировочные и тестовые

In [8]:
#убираем нулевые значения
X = X[:-projection]
y = y[:-projection]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [10]:
model = LinearRegression()

In [11]:
model.fit(X_train, y_train)

LinearRegression()

смотрим на солько точнаб передаем данные бкоторые она раньше не видела

In [12]:
model.score(X_test, y_test)

0.9553708871365949

In [13]:
df[['close']][-projection:]

         close
1987  34611.58
1988  35662.59
1989  37290.83
1990  36683.51
1991  37576.98
1992  39229.66
1993  36861.50
1994  35538.40
1995  35798.57
1996  33582.86
1997  33409.38
1998  37391.58
1999  36680.78
2000  36843.33

In [14]:
#предсказание
model.predict(df[['close']][-projection:])

array([34547.03723837, 35585.78243465, 37195.02162209, 36594.7887674 ,
       37477.83238308, 39111.22636695, 36770.70170589, 35463.04167488,
       35720.17561054, 33530.32192803, 33358.86635991, 37294.59591588,
       36592.09062524, 36752.74374144])

In [15]:
#было
df['close'][-projection:]

1987    34611.58
1988    35662.59
1989    37290.83
1990    36683.51
1991    37576.98
1992    39229.66
1993    36861.50
1994    35538.40
1995    35798.57
1996    33582.86
1997    33409.38
1998    37391.58
1999    36680.78
2000    36843.33
Name: close, dtype: float64