In [1]:
import pandas as pd

In [25]:
pd.read_csv('us-500.csv')

,first_name,last_name,company_name,address,city,county,state,zip,phone1,phone2,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,208-206-9848,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,574-330-1884,rkampa@kampa.org,http://www.hermarinc.com
497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,308-250-6987,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,206-395-6284,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,407-557-8857,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [30]:
p = pd.read_csv('us-500.csv').head(10)

print(p)

  first_name last_name               company_name                address  \
0      James      Butt          Benton, John B Jr     6649 N Blue Gum St
1  Josephine   Darakjy      Chanay, Jeffrey A Esq    4 B Blue Ridge Blvd
2        Art    Venere        Chemel, James L Cpa   8 W Cerritos Ave #54
3      Lenna  Paprocki     Feltz Printing Service            639 Main St
4    Donette    Foller        Printing Dimensions           34 Center St
5     Simona   Morasca        Chapman, Ross E Esq           3 Mcauley Dr
6     Mitsue   Tollner         Morlong Associates              7 Eads St
7      Leota  Dilliard           Commercial Press       7 W Jackson Blvd
8       Sage    Wieser  Truhlar And Truhlar Attys       5 Boston Ave #88
9       Kris   Marrier    King, Christopher A Esq  228 Runamuck Pl #2808

          city          county state    zip        phone1        phone2  \
0  New Orleans         Orleans    LA  70116  504-621-8927  504-845-1427
1     Brighton      Livingston    MI  48116  810-292-9388  810-374-9840
2   Bridgeport      Gloucester    NJ   8014  856-636-8749  856-264-4130
3    Anchorage       Anchorage    AK  99501  907-385-4412  907-921-2010
4     Hamilton          Butler    OH  45011  513-570-1893  513-549-4561
5      Ashland         Ashland    OH  44805  419-503-2484  419-800-6759
6      Chicago            Cook    IL  60632  773-573-6914  773-924-8565
7     San Jose     Santa Clara    CA  95111  408-752-3500  408-813-1105
8  Sioux Falls       Minnehaha    SD  57105  605-414-2147  605-794-4895
9    Baltimore  Baltimore City    MD  21224  410-655-8723  410-804-4694

                           email                                    web
0                jbutt@gmail.com           http://www.bentonjohnbjr.com
1  josephine_darakjy@darakjy.org       http://www.chanayjeffreyaesq.com
2                 art@venere.org         http://www.chemeljameslcpa.com
3          lpaprocki@hotmail.com    http://www.feltzprintingservice.com
4         donette.foller@cox.net      http://www.printingdimensions.com
5             simona@morasca.com         http://www.chapmanrosseesq.com
6       mitsue_tollner@yahoo.com       http://www.morlongassociates.com
7              leota@hotmail.com         http://www.commercialpress.com
8            sage_wieser@cox.net  http://www.truhlarandtruhlarattys.com
9                 kris@gmail.com     http://www.kingchristopheraesq.com

In [35]:
#ввиде строки через запятую
p.to_csv('my_csv',index = False)
#ввиде таблицы
p.to_csv('my_csv.csv',index = False)

In [11]:
pd.read_excel('SampleData.xlsx',sheet_name='SalesOrders')

    OrderDate   Region       Rep     Item  Units  Unit Cost    Total
0  2018-01-06     East     Jones   Pencil     95       1.99   189.05
1  2018-01-23  Central    Kivell   Binder     50      19.99   999.50
2  2018-02-09  Central   Jardine   Pencil     36       4.99   179.64
3  2018-02-26  Central      Gill      Pen     27      19.99   539.73
4  2018-03-15     West   Sorvino   Pencil     56       2.99   167.44
5  2018-04-01     East     Jones   Binder     60       4.99   299.40
6  2018-04-18  Central   Andrews   Pencil     75       1.99   149.25
7  2018-05-05  Central   Jardine   Pencil     90       4.99   449.10
8  2018-05-22     West  Thompson   Pencil     32       1.99    63.68
9  2018-06-08     East     Jones   Binder     60       8.99   539.40
10 2018-06-25  Central    Morgan   Pencil     90       4.99   449.10
11 2018-07-12     East    Howard   Binder     29       1.99    57.71
12 2018-07-29     East    Parent   Binder     81      19.99  1619.19
13 2018-08-15     East     Jones   Pencil     35       4.99   174.65
14 2018-09-01  Central     Smith     Desk      2     125.00   250.00
15 2018-09-18     East     Jones  Pen Set     16      15.99   255.84
16 2018-10-05  Central    Morgan   Binder     28       8.99   251.72
17 2018-10-22     East     Jones      Pen     64       8.99   575.36
18 2018-11-08     East    Parent      Pen     15      19.99   299.85
19 2018-11-25  Central    Kivell  Pen Set     96       4.99   479.04
20 2018-12-12  Central     Smith   Pencil     67       1.29    86.43
21 2018-12-29     East    Parent  Pen Set     74      15.99  1183.26
22 2019-01-15  Central      Gill   Binder     46       8.99   413.54
23 2019-02-01  Central     Smith   Binder     87      15.00  1305.00
24 2019-02-18     East     Jones   Binder      4       4.99    19.96
25 2019-03-07     West   Sorvino   Binder      7      19.99   139.93
26 2019-03-24  Central   Jardine  Pen Set     50       4.99   249.50
27 2019-04-10  Central   Andrews   Pencil     66       1.99   131.34
28 2019-04-27     East    Howard      Pen     96       4.99   479.04
29 2019-05-14  Central      Gill   Pencil     53       1.29    68.37
30 2019-05-31  Central      Gill   Binder     80       8.99   719.20
31 2019-06-17  Central    Kivell     Desk      5     125.00   625.00
32 2019-07-04     East     Jones  Pen Set     62       4.99   309.38
33 2019-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34 2019-08-07  Central    Kivell  Pen Set     42      23.95  1005.90
35 2019-08-24     West   Sorvino     Desk      3     275.00   825.00
36 2019-09-10  Central      Gill   Pencil      7       1.29     9.03
37 2019-09-27     West   Sorvino      Pen     76       1.99   151.24
38 2019-10-14     West  Thompson   Binder     57      19.99  1139.43
39 2019-10-31  Central   Andrews   Pencil     14       1.29    18.06
40 2019-11-17  Central   Jardine   Binder     11       4.99    54.89
41 2019-12-04  Central   Jardine   Binder     94      19.99  1879.06
42 2019-12-21  Central   Andrews   Binder     28       4.99   139.72

In [12]:
df=pd.read_excel('SampleData.xlsx',sheet_name='SalesOrders')
#создание эксель
df.to_excel('MyExcel.xlsx',sheet_name='MySheet')

In [25]:
html_data=pd.read_html('https://en.wikipedia.org/wiki/List_of_largest_cities_on_the_United_States_West_Coast')

ImportError: lxml not found, please install it

In [24]:
html_data[0]#1 таблица
html_data[1]#2

#

NameError: name 'html_data' is not defined

In [26]:
data=html_data[1].head(20)

NameError: name 'html_data' is not defined

In [27]:
data.to_csv('html_data.csv')

NameError: name 'data' is not defined

In [28]:
pd.read_csv('vgsales.csv')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [29]:
pd.read_csv('vgsales.csv').head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [33]:
p = pd.read_csv('vgsales.csv')

In [34]:
p['EU_Sales'].mean()

0.14665200626581515

In [35]:
p['JP_Sales'].max()

10.22

In [37]:
p[p['Name']=='Tetris']['Genre']

5      Puzzle
155    Puzzle
Name: Genre, dtype: object

In [38]:
p[p['Name']=='Tetris']['Global_Sales']

5      30.26
155     5.58
Name: Global_Sales, dtype: float64

In [39]:
p[p['NA_Sales']==p['NA_Sales'].max()]['Name']

0    Wii Sports
Name: Name, dtype: object

In [42]:
p.groupby('Genre').mean()['JP_Sales']

Genre
Action          0.048236
Adventure       0.040490
Fighting        0.103007
Misc            0.061967
Platform        0.147596
Puzzle          0.098471
Racing          0.045388
Role-Playing    0.236767
Shooter         0.029221
Simulation      0.073472
Sports          0.057702
Strategy        0.072628
Name: JP_Sales, dtype: float64

In [43]:
p['Name'].nunique()

11493

In [44]:
p['Genre'].value_counts().head(3)

Action    3316
Sports    2346
Misc      1739
Name: Genre, dtype: int64

In [45]:
def super_in_name(name):
    if 'super' in name.lower().split():
        return True
    else:
        return False

In [47]:
sum(p['Name'].apply(lambda x:super_in_name(x)))

289